.card {
    display: inline-block;
    text-align: center;
    width: 3em;
    font-size: 2em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 1em;
    user-select: none;
    background:wheat;
   }
.activeCard{
    color: red;
    background: blue;
}
.reloadbotton{
    color: blanchedalmond;
    background: black;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-weight: bold;
    font-size: 40px;
}
.component{
    background: url(../src/bg.jpg) ;
    background-size: 1920*1080; 
    height: 1080px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}